<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    This is a mortgage calculation page! Welcome!
    <form method="post">
        {% csrf_token %}
        {{ mortgage_form.as_p }}
        <button type="submit">Check</button>
    </form>
{#    {{ name }}#}
{#    {{ mortgage_form }}#}
{#    {{ rate }}#}
    {{ offer }}
    {% for bank in banks %}
        {{ bank.name }}
        {{ bank.mortgage_rate }}%
        {{ bank.payment }}
        <br>
    {% endfor %}
</body>
</html>